* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.flex {
    display: flex;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: rgba(255, 144, 14, 0.10);
    align-items: center;
}

.logo h1 {
    color: #131313;
    font-size: 3em;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color: #424242;
    margin-right: 30px;
}

/* navbar */
/* banner */
.banner {
    background-color: rgba(255, 144, 14, 0.10);
    text-align: center;
    padding: 116px 0;
}

.banner-text {
    width: 50%;
    margin: 0 auto;
}


.banner-text h1 {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 14px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
}

.banner-text button,
.feature-text button {
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin: 32px 0 70px;
}

.banner img {
    width: 84%;
    margin: auto;
}

/* banner */
/* feature */
.feature {
    width: 60%;
    margin: auto;
    align-items: center;
    padding: 80px 0;
    gap: 25px;
}

.feature-img img {
    width: 45%;
    margin: 5px;
}

.feature-text h1 {
    color: #727272;
    font-weight: 500;
    margin-bottom: 18px;
}

strong {
    color: #000;
    font-weight: 700;
}

.feature-text span {
    color: #FF900E;
    font-weight: 700;
}

/* feature */
/* facts */
.facts {
    width: 84%;
    margin: auto;
    padding: 80px 0;
}

.fact-text h1 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 12px;
}

.facts-card {
    width: 84%;
    margin: auto;
    justify-content: space-around;
}

.facts-card .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px 30px;
}

.facts-card .card h3{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}
.facts-card .card h1{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}
.facts-card .card img{
    width: 45px;
    height: auto;
    margin-bottom: 5px;
}

/* facts */