* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.flex {
    display: flex;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: rgba(255, 144, 14, 0.10);
    align-items: center;
}

.logo h1 {
    color: #131313;
    font-size: 3em;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color: #424242;
    margin-right: 30px;
}

/* navbar */
/* banner */
.banner {
    background-color: rgba(255, 144, 14, 0.10);
    text-align: center;
    padding: 116px 0;
}

.banner-text {
    width: 50%;
    margin: 0 auto;
}


.banner-text h1 {
    color: #131313;
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 14px;
}

p {
    font-size: 1em;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
}

.banner-text button,
.feature-text button {
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    margin: 32px 0 70px;
}

.banner img {
    width: 84%;
    margin: auto;
}

/* banner */
/* feature */
.feature {
    width: 60%;
    margin: auto;
    align-items: center;
    padding: 80px 0;
    gap: 25px;
}

.feature-img img {
    width: 45%;
    margin: 5px;
}

.feature-text h1 {
    font-size: 3em;
    color: #727272;
    font-weight: 500;
    margin-bottom: 18px;
}

strong {
    color: #000;
    font-weight: 700;
}

.feature-text span {
    color: #FF900E;
    font-weight: 700;
}

.feature-text button {
    margin: 0;
    margin-top: 18px;
}

/* feature */
/* feature you love and enjoy */
.loveandenjoy {
    width: 84%;
    margin: auto;
    gap: 178px;
}

.loveandenjoy-text h1 {
    border-left: 5px solid #FF900E;
    padding-left: 25px;
}

.loveandenjoy-text {
    width: 75%;
}

.loveandenjoy-text .card {
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-top: 30px;
}

.loveandenjoy-text .card h5 {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.loveandenjoy-img {
    width: 67%;
}

.experience {
    background: #FF900E;
    color: white;
    width: max-content;
    padding: 28px 34px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    top: -70px;
    left: -115px;
}

.experience h1 {
    font-size: 65px;
    font-weight: 700;
}

.experience p {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.loveandenjoy-img img {
    width: 100%;
}

/* feature you love and enjoy */
/* facts */
.facts {
    width: 84%;
    margin: auto;
    padding: 80px 0;
}

.fact-text h1,
.sponser-text h1,
.sponser-text h1 {
    color: #131313;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 12px;
}

.facts-card {
    width: 84%;
    margin: auto;
    justify-content: space-around;
}

.facts-card .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px 30px;
}

.facts-card .card h3 {
    color: #727272;
    font-size: 1.2em;
    font-weight: 600;
}

.facts-card .card h1 {
    color: #424242;
    font-size: 3em;
    font-weight: 600;
}

.facts-card .card img {
    width: 45px;
    height: auto;
    margin-bottom: 5px;
}

/* facts */
.loveandenjoy-text {
    width: 100%;
}

/* sponsers */
.sponser {
    padding: 180px 0 130px;

}

.sponser-text {
    text-align: center;
}

.sponser-text p {
    padding: 0 400px;
}

.sponsors-img {
    width: 84%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.sponsors-img img {
    width: 150px;
    height: auto;
}

footer {
    text-align: center;
    padding: 40px 0;
    border-radius: 8px;
    background: #FFF4E7;
}

/* sponsers */

/* Media Query for Mobile */
@media screen and (max-width: 570px) {
    .logo h1 {
        font-size: 2em;
    }

    .navbar,
    .flex,
    .sponsors-img,
    .loveandenjoy {
        flex-direction: column;
    }

    .menu {
        padding-top: 15px;
    }

    .navbar ul li a {
        margin-right: 14px;
    }

    .menu ul li:last-child {
        margin-right: 0;
    }

    .banner {
        padding: 50px 0;
    }

    .banner-text {
        width: 95%;
    }

    .banner-text h1 {
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 14px;
    }

    .banner-text button,
    .feature-text button {
        padding: 17px 24px;
        margin: 23px 0 39px;
    }

    .experience {
        position: unset;
        padding: 28px 60px;
        margin-top: 13px;
    }

    /* feature */
    .feature {
        width: 90%;
        padding: 0;
        padding-top: 20px;
    }

    .feature-text h1,
    .fact-text h1,
    .sponser-text h1 {
        font-size: 2.2em;
    }

    /* feature */
    .loveandenjoy-img {
        width: 100%;
        margin-top: -100px;
        margin-bottom: 40px;
    }

    /* facts */
    .facts {
        padding: 10px;
    }

    .facts-card .card {
        margin-bottom: 30px;
    }

    .facts-card {
        margin-top: 30px;
    }

    .sponser {
        padding: 80px 0 30px;
    }

    .sponser-text h1 {}

    .sponser-text p {
        padding: 0 2.3em;
    }

    .sponsors-img {
        align-items: center;
    }

    .sponsors-img img {
        margin-bottom: 40px;
    }

    footer {
        padding: 20px 40px;

    }

    /* facts */
}


/* media query for tablet device */
@media screen and (min-width:571px) and (max-width:1090px) {
    .logo h1 {
        font-size: 1.7em;
    }

    .navbar,
    .flex,.sponsors-img {
        flex-direction: column;
    }

    .menu {
        padding-top: 15px;
    }

    .navbar ul li a {
        margin-right: 14px;
    }

    .menu ul li:last-child {
        margin-right: 0;
    }

    .banner {
        padding: 50px 0;
    }

    .banner-text {
        width: 60%;
    }

    .banner-text h1 {
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 14px;
    }

    .banner-text button,
    .feature-text button {
        padding: 17px 24px;
        margin: 23px 0 39px;
    }
    .loveandenjoy-img {
        width: 100%;
        margin-top: -100px;
        margin-bottom: 40px;
       
    }

    .experience {
        
        position: unset;
        padding: 28px 120px;
        margin-top: 13px;
    }
    /* feature */
    .feature {
        width: 85%;
        padding: 0;
        padding-top: 20px;
    }

    .feature-text h1,
    .fact-text h1 {
        font-size: 2.2em;
    }

    /* feature */
    /* facts */
    .facts {
        padding: 10px;
    }

    .facts-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 20px;
    }

    .facts-card .card {
        margin-bottom: 30px;
        margin-right: 20px;
    }
    .sponser-text p {
        padding: 0 2.3em;
    }
    .sponsors-img {
        align-items: center;
    }

    .sponsors-img img {
        margin-bottom: 40px;
    }
    /* facts */
}